extends layout/main-layout.pug

block title 
    title Lobby
block navbar
  li(class="nav-item dropdown")
    a(href="#" 
      class="nav-link dropdown-toggle" 
      data-toggle="dropdown" 
      aria-haspopup="true" 
      aria-expanded="false"
      id="navbarDropdownMenuLink"
      ) playername
    div(class="dropdown-menu")
        a(href="#" class="dropdown-item") point: 10000
        a(href="/users/logout" class="dropdown-item") logout


block content 
  div(class="container" style="height:100%")
    div(class="row")
        div(class="col-4")
            br
            br
            ul(class="list-group")
                li(
                    class = "list-group-item d-flex justify-content-between align-items-center"
                    ) player1
                    span(
                        class="badge badge-danger badge-pill"
                        ) Ready
                li(
                    class = "list-group-item d-flex justify-content-between align-items-center"
                    ) player2
                    span(
                        class="badge badge-danger badge-pill"
                        ) Ready
                li(
                    class = "list-group-item d-flex justify-content-between align-items-center"
                    ) player3
                li(
                    class = "list-group-item d-flex justify-content-between align-items-center"
                    ) player4
                    span(
                        class="badge badge-danger badge-pill"
                        ) Ready
            br

            div(class="row") 
                div(class="col-6")
                        button(
                        class="btn btn-danger btn-block"
                        type="button"
                        ) Cancel
                
                div(class="col-6")
                    button(
                        class="btn btn-danger btn-block"
                        type="button"
                        ) Ready
          


        div(class="col-8")
            h2 Chat
            div(
                class="col"
                id="messages"
                style="border:2px solid #dedede; height:400px; overflow-y:auto"
            )
                div(class="car border-danger mb-3")
                    div(class="card-body")
                        span(class="badge") player1
                        p(class="card-text") Hello
                div(class="car border-danger mb-3")
                    div(class="card-body")
                        span(class="badge") player2
                        p(class="card-text") hi
                div(class="car border-danger mb-3")
                    div(class="card-body")
                        span(class="badge") player3
                        p(class="card-text") hi
                div(class="car border-danger mb-3")
                    div(class="card-body")
                        span(class="badge") player4
                        p(class="card-text") hi
                div(class="car border-danger mb-3")
                    div(class="card-body")
                        span(class="badge") player4
                        p(class="card-text") hi
            br

                
            div(class="input-group mb-3")
                input(type="text "
                      class="form-control"
                      id="message"
                      )
                div(class="input-group-append")
                    button(
                        type="button"
                        class="btn btn-outline-danger"
                    ) send
            


        
