extends layout/main-layout.pug

block title 
  title Lobby
block navbar
  include navbar/nav-logged-in

block content 
  div(class="container" style="height:100%")
    div(class="row")
        div(class="col-4")
            div(class="row")
              h3(class="col-3") Games
              button(class="col-1 badge bg-primary mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Create a game" style="height: 1.5rem; width: 3rem") new
              div(class="col-8")
            ul(class="list-group rounded" style="border:2px solid #dedede; height:200px; overflow-y:auto" id="game_list")
              li(class = "list-group-item d-flex justify-content-between" id="game-1") 
                div(class="badge bg-light text-primary" id="game-1-name") game1
                div
                  span(class="badge bg-info rounded-spill mx-1" id="game-1-start") start
                  span(class="badge bg-warning rounded-spill mx-1" id="game-1-leave") leave
                div
                  span(class="badge bg-danger rounded-spill mx-1" id="game-1-vacancy") 1 / 4
                  span(class="badge bg-primary rounded-spill" id="game-1-status") waiting
               
        
            br
            h3 Folks
            ul(class="list-group rounded" id="user_list" style="border:2px solid #dedede; height:200px; overflow-y:auto")
              //- li(class = "list-group-item d-flex justify-content-between align-items-center") /////-   div(class="badge bg-light text-primary")
              //-     player1
              //-   span(class="badge bg-primary rounded-spill") in game
           

            
          

        div(class="col-8")
            h2 Chat
            div(
                class="col rounded"
                id="lobby_chat"
                style="border:2px solid #dedede; height:400px; overflow-y:auto"
            )
                //- div(class="card border-danger mb-1 border-0")
                //-     div(class="card-body")
                //-         span(class="badge bg-light text-primary") player1
                //-         p(class="card-text text-info") Hello
            br

                
            div(class="input-group mb-3 rounded")
                input(type="text "
                      class="form-control"
                      id="chat_input"
                      )
                div(class="input-group-append")
                    button(
                        type="button"
                        class="btn btn-outline-danger"
                        onClick="sendChat()"
                    ) send
  script(src="/socket.io/socket.io.js")
  script(type="text/javascript" src="/js/lobby.js")
            


        
