extends layout/main-layout.pug

block title 
  title Lobby
block navbar
  include navbar/nav-logged-in

block content 
  div(class="container" style="height:100%")
    div(class="row")
        div(class="col-4")
            div(class="row")
              h3(class="col-3") Games
              button(class="col-1 badge bg-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Create a game") +
              div(class="col-8")
            ul(class="list-group" style="border:2px solid #dedede; height:200px; overflow-y:auto")
              li(class = "list-group-item d-flex justify-content-between align-items-center") game1
                span(class="badge bg-primary rounded-spill") waiting
               
        
            br
            h3 Folks
            ul(class="list-group" style="border:2px solid #dedede; height:200px; overflow-y:auto")
              li(class = "list-group-item d-flex justify-content-between align-items-center") player1
                span(class="badge bg-primary rounded-spill") in game
           

            
          

        div(class="col-8")
            h2 Chat
            div(
                class="col"
                id="messages"
                style="border:2px solid #dedede; height:400px; overflow-y:auto"
            )
                div(class="car border-danger mb-1")
                    div(class="card-body")
                        span(class="badge bg-light") player1
                        p(class="card-text") Hello
                div(class="car border-danger mb-3")
                    div(class="card-body")
                        span(class="badge bg-light") player2
                        p(class="card-text") hi
            br

                
            div(class="input-group mb-3")
                input(type="text "
                      class="form-control"
                      id="message"
                      )
                div(class="input-group-append")
                    button(
                        type="button"
                        class="btn btn-outline-danger"
                    ) send
            


        
