extends layout/main-layout.pug

block title 
  title #{username}'s profile

block navbar
  include navbar/nav-logged-in

block content   
  script(type="text/javascript" src="/js/validation-change-password.js" defer)
  // Toasts 
  div(class="position-fixed top-0 end-0 p-3" style="z-index: 2000")
    div(id="profileToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000")
      div(class="toast-header")
        strong(class="me-auto") Message 
        small(class="text-muted") Change Password
        button(type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close")
      div(class="toast-body" id="errors_message")
  // Card for profile
  div(class="container d-flex justify-content-center")
    div(class="card text-center" style="width: 20rem;;")
      img(class="card-img-top" style="width: 10rem; position: relative; left: 5rem;" src=(profileImg === undefined ? "/images/profile/profile1.gif" : profileImg) alt="Card img top")
      div(class="card-body")
        h5(class="card-title") #{username}
        h5 account email: #{email}
        button(type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#changePasswordModal") change password
        // Modal change password
        div(class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="CPModalLabel" aria-hidden="true")
          div(class="modal-dialog" role="ducoment")
            div(class="modal-content")
              div(class="modal-header")
                h5(class="modal-title" id="CPModalLabel") Change Password
              div(class="modal-body")
                form 
                  div(class="form-outline mb-3")
                    input(
                      type="password" 
                      name="current_password"
                      id="current_password"
                      class="form-control form-control-lg"
                      placeholder="Current password"  
                      )
                    div(class="invalid-feedback" id="feedback_current")
                  div(class="form-outline mb-3")
                    input(
                      type="password" 
                      name="new_password" 
                      id= "new_password"
                      class="form-control form-control-lg"
                      placeholder="New password"
                      )
                    div(class="invalid-feedback" id="feedback_new")
                  div(class="form-outline mb-3")
                    input(
                      type="password" 
                      name="confirm_password" 
                      id= "confirm_password"
                      class="form-control form-control-lg"
                      placeholder="Confirm new password"
                      )
                    div(class="invalid-feedback" id="feedback_confirm")
                  button( 
                    type="button" 
                    class="btn btn-primary p-1"
                    onclick="onSubmitPasswordChange()"
                  ) submit 
              div(class="modal-footer")
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            // End of change password modal
        // Modal for upload profile image
        script(type="text/javascript").
          let winrate = !{JSON.stringify(winrate)};
          let lostrate = !{JSON.stringify(lostrate)};
        h5 Points: #{points}
        h5 Played: #{gamePlayed}
        div(class="progress" style="height: 2rem")
          div(
            class="progress-bar bg-warning"
            role="progressbar"
            style=("width:" + winrate + "%")
            aria-valuenow=(winrate)
            aria-valuemin="0"
            aria-valuemax="100"
            ) Won #{winrate}%
          div(
            class="progress-bar bg-danger"
            role="progressbar"
            style=("width:" + lostrate + "%")
            aria-valuenow=(lostrate)
            aria-valuemin="0"
            aria-valuemax="100"
          ) Lost #{lostrate}%

