li(class="nav-item dropdown")
  a(href="#"
    class="nav-link dropdown-toggle"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    id="navbarDropdownMenuLink"
    ) playername
  div(class="dropdown-menu")
    a(href="#" class="dropdown-item") point: 10000
    a(href="/auth/logout" class="dropdown-item") logout